<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th></th>
    <% for(var i=0, len=Game.COLS.length; i<len; i++) {%> 
      <th style="font-weight:normal; color:#ccc; padding:18px; font-family:Helvetica, Arial;"><%= Game.COLS[i] %> </th>
    <%} %>
  </tr>
  <% for (var i=0, len=Game.ROWS.length; i<len; i++) { %>
    <tr>
      <td style="color:#ccc; padding:18px; font-family:Helvetica, Arial;"><%= Game.ROWS[i] %></td>
      <% for (var j=0, jen=Game.COLS.length; j<jen; j++) { %>
        <td align="center" valign="middle">
          <% var size = '22px';
            for (var m=0, movesLen=moves.length; m<movesLen; m++) { 
              if (moves[m] === Game.getPositionFromRowCol(i, j)) {
                size = '10px';
              }
            } %>
          <div style="width:<%= size %>; height:<%= size %>; border-radius: 12px; -moz-border-radius: 12px; border:1px solid #<%= Game.COLORS[board[j][i]] %>; background:#<%=Game.COLORS[board[j][i]] %>; margin:18px;">&nbsp;</div>
        </td>
      <% } %>
    </tr>
  <% } %>      
</table>